.navigation-container {
  background-color: var(--background);
}

.navigation-inner-container {
  display: flex;
  justify-content: right;
  margin: 0 0 0 20px;
}

.list-item {
  margin: 5px;
  padding: 10px;
  background-color: var(--color);
  color: var(--background);
  cursor: pointer;
  list-style: none;
}
