/* .main-footer {
  max-height: 100%;
} */

.footer-inner-container {
  display: flex;
  /* flex-direction: row; */
  background-color: var(--background);
  color: var(--color);
  /* justify-content: right; */
  justify-content: center;
  padding-top: 100px;
}

.footer-list {
  list-style: none;
  align-items: center;
}

.footer-inner-list-container {
  display: flex;
}

.f-list-item {
  margin: 2px;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  background-color: var(--color);
  color: var(--background);
}

.footer-rule {
  margin: 0 50vh 0 50vh;
  padding: 0;
  color: var(--f-color);
  background-color: red;
}
